.domainip {
  padding: 10px;
}

#errorbar {
  width: 100%;
  padding: 10px;
  background: darkred;
  color: white;
  display: none;
}

#errorbar a {
  color: #55ccdd;
}

#main-table {
  width: 100%;
}

#left-panel {
  width: 98%;
}

#right-panel {
  width: 2%;
  padding: 3px;
}
